<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Add Person</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Create a Person:</h1>

<!--
   In Thymeleaf the equivalent of
   JSP's ${pageContext.request.contextPath}/edit.html
   would be @{/edit.html}
   -->

<form th:action="@{/addSinhVien}"
      th:object="${sinhVien}" method="POST">
    Ma SV:
    <input type="text" th:field="*{maSV}" />
    <br/>
    Ten SV:
    <input type="text" th:field="*{tenSV}" />
    <br/>
    Id Tai Khoan:
    <input type="text" th:field="*{idTaiKhoan}" />
    <br/>
    <input type="submit" value="Create" />
</form>

<br/>

</body>
</html>